* {
  margin: 0;
}

#mainContent{
  width: 100%;
  background-color: lightgreen;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
  /*width: 300px;
  height: 300px;*/
  max-height: 90rem;
  float:left;
}

.row{
  background-color: blue;
  white-space: nowrap;
  overflow-x:scroll!important;
}


#article{
  width:100%;
  display: inline-block;
  padding:0 80px;
}

p{
  white-space: normal;
}
